<h1>{{title}}</h1>

<div id="rulesDiv">
    <p>Welcome to this simple game of ROCK PAPER SCISSORS LIZARD SPOCK!!!</p>
    <p>Click on the ‘Draw’ button to begin to start the game.</p>
    <!--<p>After the countdown ends, click on the button corresponding with your weapon of choice.</p>-->
    <p>Once the choices appear, click on the button corresponding with your weapon of choice.</p>
    <p>Good luck!</p>
</div>

<div id="waiting"></div>

<div id="buttonDiv">
    <button type="button" value="Draw" id="drawbtn">DRAW</button>
    <br>
</div>


<div id="countdown">

</div>


<div id="weaponsDiv">
    <button type="button" value="ROCK" id="rockbtn" class="weapons">ROCK</button>
    <button type="button" value="PAPER" id="paperbtn" class="weapons">PAPER</button>
    <button type="button" value="SCISSORS" id="scissorbtn" class="weapons">SCISSORS</button>
    <br>
    <button type="button" value="LIZARD" id="lizardbtn" class="weapons">LIZARD</button>
    <button type="button" value="SPOCK" id="spockbtn" class="weapons">SPOCK</button>
</div>

<div id="messageLog"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./javascripts/client_sockets.js"></script>



<!--used following site to implement jquery:-->
<!--http://stackoverflow.com/questions/14264429/how-to-use-jquery-installed-with-npm-in-express-app-->